<!-- landing page start -->
<div class="hero-image border-bottom">
    <div class="hero-text">
      <h1 style="font-size:50px">Hi! I am John Dormont</h1>
        <h3>I'm a Full stack developer</h3>
        <br>
        <button class="btn btn-info btn-hire">Hire me</button>
    </div>
</div>
<!-- landing page end -->

<!-- services section start -->
<div class="services border-bottom text-white py-5">
    <h1>Services</h1>
    <h5>Here are the tools & technologies that I work with :</h5>
    <br>
    <!-- cards start -->
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-6 g-1" >
            <div class="col" >
                <div class="card icon">
                <i class="devicon-html5-plain"></i>

                <div class="card-body">
                <h5 class="card-title">HTML5</h5>
                </div>
                </div>
            </div>
  
        <div class="col">
          <div class="card icon">
            <i class="devicon-css3-plain"></i>

            <div class="card-body">
              <h5 class="card-title">CSS3</h5>
            </div>
          </div>
        </div>
  
        <div class="col">
          <div class="card icon">

            <i class="devicon-javascript-plain"></i>
                
            <div class="card-body">
              <h5 class="card-title">JavaScript</h5>
            </div>
          </div>
        </div>
  
        <div class="col">
          <div class="card icon">

            <i class="devicon-jquery-plain"></i>
                
            <div class="card-body">
              <h5 class="card-title">jQuery</h5>
            </div>
          </div>
        </div>
  
        <div class="col">
          <div class="card icon">

            <i class="devicon-github-original"></i>
                
            <div class="card-body">
              <h5 class="card-title">GitHub</h5>
            </div>
          </div>
        </div>
  
        <div class="col">
          <div class="card icon">

            <i class="devicon-angularjs-plain"></i>
                
            <div class="card-body">
              <h5 class="card-title">Angular JS</h5>
            </div>
          </div>
        </div>
  
        <div class="col">
          <div class="card icon">

            <i class="devicon-bootstrap-plain"></i>
                
            <div class="card-body">
              <h5 class="card-title">Bootstrap</h5>
            </div>
          </div>
        </div>

        <div class="col">
            <div class="card icon">
                <i class="devicon-heroku-original"></i>
                            
              <div class="card-body">
                <h5 class="card-title">heroku</h5>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card icon">
                <i class="devicon-mongodb-plain"></i>
                            
              <div class="card-body">
                <h5 class="card-title">mongoDB</h5>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card icon">
  

                <i class="devicon-nodejs-plain"></i>
                            
              <div class="card-body">
                <h5 class="card-title">Node.js</h5>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card icon">
                  <i class="devicon-vscode-plain"></i>
                            
              <div class="card-body">
                <h5 class="card-title">VS Code</h5>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card icon">
                <i class="devicon-eslint-original"></i>
                                      
              <div class="card-body">
                <h5 class="card-title">ESLint</h5>
              </div>
            </div>
          </div>
        </div>
    </div>

      <!-- cards end -->
</div>
<!-- services section end -->

<!-- testimonials start -->

<div class="testimonials border-bottom text-white py-5">
    <h1>Testimonials</h1>
    <h5>Nice Things People Have Said</h5>
    <br>
<!-- carousel start -->

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">

    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="3000">
        
        <div class="container">
            <div class="container testimonial-inner">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8 style-3">
                        <div class="tour-item ">
                            <div class="tour-desc bg-white">
                                <div class="tour-text color-grey-3 text-center">&ldquo;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante, commodo iacul viverra.&rdquo;</div>
                                <div class="d-flex justify-content-center pt-5 pb-2">
                                    <img class="tm-people" src="../../assets/woman_1.png" alt=""></div>
                                <div class="link-name d-flex justify-content-center">Paula Wilson</div>
                                <div class="link-position d-flex justify-content-center">Media Analyst</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>

      <div class="carousel-item" data-bs-interval="3000">

        <div class="container">
            <div class="container testimonial-inner">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8 style-3">
                        <div class="tour-item ">
                            <div class="tour-desc bg-white">
                                <div class="tour-text color-grey-3 text-center">&ldquo;Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget mi suscipit tincidunt. Utmtc tempus dictum. Pellentesque virra. Quis quam ut magna consequat faucibus, metus id mi gravida.&rdquo;</div>
                                <div class="d-flex justify-content-center pt-5 pb-2">
                                    <img class="tm-people" src="../../assets/man_1.png" alt=""></div>
                                <div class="link-name d-flex justify-content-center">Antonio Moreno</div>
                                <div class="link-position d-flex justify-content-center">Web Developer</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>

      <div class="carousel-item" data-bs-interval="3000">

        <div class="container">
            <div class="container testimonial-inner">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8 style-3">
                        <div class="tour-item ">
                            <div class="tour-desc bg-white">
                                <div class="tour-text color-grey-3 text-center">&ldquo;Vest natus enim nihil est dolore omnis voluptatem numquam net omnis occaecati quod ullam at nvoluptatem error expedita pariatur nihil sint nostrum voluptatem reiciendis et.&rdquo;</div>
                                <div class="d-flex justify-content-center pt-5 pb-2">
                                    <img class="tm-people" src="../../assets/man_2.png" alt=""></div>
                                <div class="link-name d-flex justify-content-center">Michael Holz</div>
                                <div class="link-position d-flex justify-content-center">Holistic Nutritionist</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>

      <div class="carousel-item" data-bs-interval="3000">

        <div class="container">
            <div class="container testimonial-inner">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8 style-3">
                        <div class="tour-item ">
                            <div class="tour-desc bg-white">
                                <div class="tour-text color-grey-3 text-center">&ldquo;Quia molestiae reprehenderit quasi aspernatur naut expedita occaecati aliquam eveniet laudantium nomnis saepe quia accusamus maiores nam est ncum et ducimus et vero voluptates excepturi deleniti ratione.&rdquo;</div>
                                <div class="d-flex justify-content-center pt-5 pb-2">
                                    <img class="tm-people" src="../../assets/woman_2.png" alt=""></div>
                                <div class="link-name d-flex justify-content-center">Mary Saveley</div>
                                <div class="link-position d-flex justify-content-center">Lawyer</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>

      <div class="carousel-item" data-bs-interval="3000">   

        <div class="container">
            <div class="container testimonial-inner">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8 style-3">
                        <div class="tour-item ">
                            <div class="tour-desc bg-white">
                                <div class="tour-text color-grey-3 text-center">&ldquo;Harum non quasi et ratione ntempore iure ex voluptates in ratione nharum architecto fugit inventore cupiditate nvoluptates magni quo et.&rdquo;</div>
                                <div class="d-flex justify-content-center pt-5 pb-2">
                                    <img class="tm-people" src="../../assets/woman_3.png" alt=""></div>
                                <div class="link-name d-flex justify-content-center">Glenna Reichert</div>
                                <div class="link-position d-flex justify-content-center">Family & Workplace Mediator</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
        
      <div class="carousel-item">

        <div class="container">
            <div class="container testimonial-inner">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8 style-3">
                        <div class="tour-item ">
                            <div class="tour-desc bg-white">
                                <div class="tour-text color-grey-3 text-center">&ldquo;Amaiores sed dolores similique labore et inventore et nquasi temporibus esse sunt id et neos voluptatem aliquam naliquid ratione corporis molestiae mollitia quia et magnam dolor.&rdquo;</div>
                                <div class="d-flex justify-content-center pt-5 pb-2">
                                    <img class="tm-people" src="../../assets/man_3.png" alt=""></div>
                                <div class="link-name d-flex justify-content-center">Martin Sommer</div>
                                <div class="link-position d-flex justify-content-center">Digital Marketing</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<!-- carousel end -->

</div>
    
<!-- testimonials end -->

